@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');


.card {
  width: 22rem;
  display: inline-flex;
  margin: 3%;
}
.card-id {
    float: right;
}

.card-title{
    display: inline-flex;
}

.card-text {
    align-self: auto;
}

